interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.italiansubs.net/api/rest/shows/search?q=Grey%27s+Anatomy&apikey=d86ad6ec041b334fac1e512174ee04d5
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?>

        <root><data><shows><show><id>79</id><name>Grey''s Anatomy</name></show></shows><page>1</page><pages>1</pages><count>1</count><next/></data><status>success</status></root>

'}
    headers:
      alternate-protocol: ['443:npn-spdy/3.1']
      content-type: [text/xml;charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.italiansubs.net/api/rest/shows/search?q=Grey%27s+Anatomy&apikey=d86ad6ec041b334fac1e512174ee04d5
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?>

        <root><data><shows><show><id>79</id><name>Grey''s Anatomy</name></show></shows><page>1</page><pages>1</pages><count>1</count><next/></data><status>success</status></root>

'}
    headers:
      alternate-protocol: ['443:npn-spdy/3.1']
      content-type: [text/xml;charset=utf-8]
    status: {code: 200, message: OK}
version: 1
